@import "../../styles/settings.scss";
.table-data {
	margin: 38px;
	input {
		width: 45%;
		float: left;
		margin: 0px 0px 19px 0px;
		height: 42px;
		border-radius: 9px;
		padding-left: 9px;
		outline: none;
	}
	input:focus {
		border: 3px solid #299ee6;
		box-shadow: 1px 1px #888888;
		border-radius: 9px;
		outline: none;
	}
	.floatRight {
		float: right;
	}
	.disabled {
		color: currentColor;
		cursor: not-allowed;
		opacity: 0.5;
		text-decoration: none;
	}
}
